.profile{

    max-width: 1600px;
    // margin-top: 97px;
    .prof_block{
        width: 100%;
        min-height: 276px;
        margin-top: 40px;
        display:flex;
        justify-content:space-between;
        flex-wrap: wrap;
    }

    .title{
        color: white;
        font-family: 'DINPro';
        font-style: normal;
        font-weight: 900;
        font-size: 64px;
        line-height: 78px;
    }
    .photo{
        background: #25232F;
        border-radius: 10px;
        width: 201px;
        min-height:267px;
    }
    .profile_detail{
        width:877px;
        min-height: 267px;
        background: #25232F;
        border-radius: 10px;
    }
    .profile_cash{
        width: 100%;
        height: 100%;
        background-image: url("../../static/img/lox.png");
        background-size: cover;
        // mix-blend-mode: luminosity;
        border-radius: 10px;
        position: absolute;
        opacity: 20;

    }
    .profile_cashh{
        width: 442px;
        min-height:267px;
        background: #7469A3;
        position: relative;
    }
    .pho{
        width: 120px;
        height: 120px;
        display: block;
        margin-top: 55px;
        margin-left: 40px;
    }
    .profile_detail{
        display: flex;
        justify-content:space-around;
        color: #aeafaf;
        padding-top: 27px;
    }
    .profile_detail p{
        font-family: Gilroy;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.2px;
    }
    .profile_detail h5{
        font-family: Gilroy;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.2px;
    }
    .profile_detail h5{
        margin-bottom: 39px;
    }
    .min_block:last-child{
        margin-bottom: 0;
    }
    .btn_profie{
        background: #1A191F;
        border: 0.5px solid #F2F3F6;
        box-sizing: border-box;
        border-radius: 4px;
        height: 47px;
        padding: 15px 32px;
        color: #aeafaf;
    }
}
