.Title {
  font-family: DINPro;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: -2px;
  margin-bottom: 38px;
}
