@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.registration_block {
    width: 420px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 20px;
    form{
        display: flex;
        align-items: center;
        flex-direction: column;
        .ButtonContainer{
            display: flex;
            justify-content: space-between;
            gap: 24px;
        }        
    }
    .form_inputs {
        display: flex;
        flex-direction: column;
        gap: 18px;

    }
    .text_danger {
        color: #ff0015;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: light;
    }
    .FormControl{
        width: 98%;
        .RadioGroup{
            display: flex;
            flex-wrap: nowrap;
            max-width: 420px;
            justify-content: space-between;
            .FormControlLabel{
                span{
                    font-size: 12px;
                }
            }
        }
    }
}

