@font-face {
    font-family: 'Gilory';
    src: url(../public/Gilroy-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Gilory !important;
    background-color: #1A191F;
    color: white;
}